body{
    background-image: url('bg.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: 100%;
}
::-webkit-scrollbar{
    width: 0;
}
#pdf{
    width: 400px;
}
#pdf div{
display: none;
}
img{
    width: 100%;
}